body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 4%);
}

header {
    background-color: #33333388;
    color: #4ED4E6;
    text-align: center;
    padding: 2em 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.producto {
    width: 300px;
    margin: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.producto:hover {
    transform: scale(1.05);
}

.producto img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.producto h3 {
    font-size: 1.5em;
    margin: 10px 0;
    color: #333;
}

.producto p {
    color: #666;
}

.producto button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}  


